* {
  border: 0;
  box-sizing: border-box;
  font-weight: 700;
  outline: 0;
}

body {
  animation: fadein 0.8s;
  background-color: var(--bg-color);
  font-size: 64px;
  font-family: "Manrope", sans-serif;
  margin: 0;
  transition: background-color 0.5s ease;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a {
  align-items: center;
  color: var(--accent);
  display: inline-flex;
  margin: 0 16px;
  padding: 16px 0;
  text-decoration: none;
  transition: color 0.5s ease;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: var(--accent);
  display: flex;
  font-size: 18px;
  font-family: "Asap", sans-serif;
  padding: 16px;
  transition: color 0.5s ease;
}

.flex {
  display: flex;
  flex-grow: 1;
}

.form {
  background-color: var(--bg-color);
  transition: background-color 0.5s ease;
  width: 100%;
}

input {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: inherit;
  padding: 16px 32px;
  font-family: "Manrope", sans-serif;
  transition: background-color 0.5s ease;
  width: 100%;
}

::placeholder {
  color: var(--font-color);
}

::selection {
  background-color: #000;
  color: #00bb33;
}

#erbox {
  animation: fadeout;
  animation-fill-mode: forwards;
  color: #f44336;
  padding: 16px 32px;
}

#alias,
#sucess {
  color: #58de71;
  padding: 16px 32px;
}

#qr {
  padding: 16px;
}

button {
  animation: grad 8s ease infinite;
  background: var(--gradient);
  background-size: 300% 300%;
  cursor: pointer;
  font-size: inherit;
  padding: 16px 32px;
  text-align: left;
  transition: background 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 720px) {
  body {
    font-size: 32px;
  }

  footer {
    flex-direction: column;
  }
}

/*Global Variables*/
:root {
  --accent: #990000;
  --font-color: #bdbdbd;
  --bg-color: #000;
  --pwa-color: #fff;
  --gradient: linear-gradient(270deg, #ff0000, #c471ed, #009bef);
}

/*Light Mode Variables*/
[data-theme="light"] {
  --accent: #009bef;
  --font-color: #757575;
  --bg-color: #fff;
  --pwa-color: #3d3d3d;
  --gradient: linear-gradient(270deg, #009bef, #c471ed, #ff0000);
}

@media all and (max-width: 720px) {
  body {
    font-size: 32px;
  }

  footer {
    flex-direction: column;
  }
}

/*Simple css to style it like a toggle switch*/

.theme-switch-wrapper {
  align-items: center;
  display: flex;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--accent);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

/* Crescent */
.slider:before {
  bottom: 4px;
  box-shadow: 7px 7px 0 0 #fff;
  content: "";
  height: 26px;
  left: 14px;
  position: absolute;
  transform: rotate(135deg);
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--accent);
}

/* Circle */
input:checked + .slider:before {
  background-color: #fff;
  bottom: 4px;
  box-shadow: 0px 0px 0 0 #fff;
  height: 26px;
  left: 4px;
  transform: translateX(26px);
  width: 26px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.p-a {
  fill: var(--pwa-color);
}

.w {
  fill: var(--accent);
}

/* Copyright */

.copyright {
  color: var(--accent);
  font-size: 18px;
  transition: color 0.5s ease;
}

.copyright_img {
  animation: grad 8s ease infinite;
  background: linear-gradient(90deg, #009bef, #ff0000);
  background-size: 300% 300%;
  font-family: "Asap Condensed", sans-serif;
  font-size: 24px;
  transition: background 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Iconify */

.iconify {
  font-size: 32px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
