* {
  border: 0;
  box-sizing: border-box;
  font-weight: 700;
  outline: 0;
}
body {
  animation: fadein 0.8s;
  background-color: var(--bg-color);
  font-size: 64px;
  font-family: Manrope, sans-serif;
  margin: 0;
  transition: background-color 0.5s ease;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
h1 {
  color: var(--head-color);
}
a,
h1 {
  transition: color 0.5s ease;
}
a {
  align-items: center;
  color: var(--accent);
  display: inline-flex;
  margin: 0 16px;
  padding: 16px 0;
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  color: var(--accent);
  display: flex;
  font-size: 18px;
  font-family: Asap, sans-serif;
  padding: 16px;
  transition: color 0.5s ease;
}
.flex {
  display: flex;
  flex-grow: 1;
}
::placeholder {
  color: var(--font-color);
}
::selection {
  background-color: #000;
  color: #0b3;
}
#erbox {
  animation: fadeout;
  animation-fill-mode: forwards;
  color: #f44336;
}
#erbox,
button {
  padding: 16px 32px;
}
button {
  cursor: pointer;
  font-size: inherit;
  text-align: left;
  transition: background 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:root {
  --accent: #900;
  --sec-color: #fff;
  --font-color: #bdbdbd;
  --bg-color: #000;
  --head-color: #bdbdbd;
  --pwa-color: #fff;
}
[data-theme="light"] {
  --accent: #009bef;
  --sec-color: #000;
  --font-color: #757575;
  --bg-color: #fff;
  --head-color: #757575;
  --pwa-color: #3d3d3d;
}
@media (max-width: 720px) {
  body {
    font-size: 32px;
  }
  footer {
    flex-direction: column;
  }
}
.theme-switch-wrapper {
  align-items: center;
  display: flex;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: var(--accent);
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
}
.slider,
.slider:before {
  position: absolute;
  transition: 0.4s;
}
.slider:before {
  bottom: 4px;
  box-shadow: 7px 7px 0 0 #fff;
  content: "";
  height: 26px;
  left: 14px;
  transform: rotate(135deg);
  width: 26px;
}
input:checked + .slider {
  background-color: var(--accent);
}
input:checked + .slider:before {
  background-color: #fff;
  bottom: 4px;
  box-shadow: 0 0 0 0 #fff;
  height: 26px;
  left: 4px;
  transform: translateX(26px);
  width: 26px;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.p-a {
  fill: var(--pwa-color);
}
.w {
  fill: var(--accent);
}
.copyright {
  color: var(--accent);
  font-size: 18px;
  transition: color 0.5s ease;
}
.copyright_img {
  animation: grad 8s ease infinite;
  background: linear-gradient(90deg, #009bef, red);
  background-size: 300% 300%;
  font-family: Asap Condensed, sans-serif;
  font-size: 24px;
  transition: background 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.iconify {
  font-size: 32px;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grad {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
