@font-face {
  font-family: Manrope VF;
  src: url(/assets/fonts/variable/Manrope%5Bwght%5D.ttf)
    format("truetype-variations");
  font-style: normal;
  font-weight: 200 800;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/web/manrope-bold.woff2) format("woff2"),
    url(/assets/fonts/otf/manrope-bold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}
* {
  border: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body,
html {
  animation: fadein 0.8s;
  background-color: var(--bg-color);
  font-family: Manrope VF, Manrope, sans-serif;
  font-feature-settings: "calt", "liga";
  font-size: 64px;
  font-variation-ligatures: normal;
  font-variation-settings: "wght" 500;
  font-weight: 700;
  margin: 0;
  transition: background-color 0.5s ease;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a {
  align-items: center;
  color: var(--accent);
  display: inline-flex;
  margin: 0 16px;
  padding: 16px 0;
  text-decoration: none;
}
a,
h1 {
  transition: color 0.5s ease;
}
h1 {
  animation: glitch 8s linear infinite;
  color: var(--head-color);
}
h1:after,
h1:before {
  content: attr(title);
  position: absolute;
  left: 0;
}
h1:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
h1:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  color: var(--accent);
  display: flex;
  font-size: 18px;
  font-family: Asap, sans-serif;
  padding: 16px;
  transition: color 0.5s ease;
}
.flex {
  display: flex;
  flex-grow: 1;
}
::selection {
  background-color: #000;
  color: #0b3;
}
.erbox {
  animation: fadeout;
  animation-fill-mode: forwards;
  color: #000;
  color: #900;
  font-family: Manrope VF, Manrope, sans-serif;
  font-feature-settings: "calt", "liga";
  font-variation-ligatures: normal;
  font-variation-settings: "wght" 500;
  font-weight: 700;
  padding: 16px 32px;
}
:root {
  --accent: #b31818;
  --bg-color: #000;
  --head-color: #bdbdbd;
}
[data-theme="light"] {
  --accent: #009bef;
  --bg-color: #fff;
  --head-color: #757575;
}
@media (max-width: 720px) {
  body {
    font-size: 32px;
  }
  footer {
    flex-direction: column;
  }
}
.theme-switch-wrapper {
  align-items: center;
  display: flex;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: var(--accent);
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
}
.slider,
.slider:before {
  position: absolute;
  transition: 0.4s;
}
.slider:before {
  bottom: 4px;
  box-shadow: 7px 7px 0 0 #fff;
  content: "";
  height: 26px;
  left: 14px;
  transform: rotate(135deg);
  width: 26px;
}
input:checked + .slider {
  background-color: var(--accent);
}
input:checked + .slider:before {
  background-color: #fff;
  bottom: 4px;
  box-shadow: 0 0 0 0 #fff;
  height: 26px;
  left: 4px;
  transform: translateX(26px);
  width: 26px;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.copyright {
  color: var(--accent);
  font-size: 18px;
  transition: color 0.5s ease;
}
.copyright_img {
  animation: grad 8s ease infinite;
  background: linear-gradient(90deg, #009bef, #b31818);
  background-size: 300% 300%;
  font-family: Asap Condensed, sans-serif;
  font-size: 24px;
  transition: background 0.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.iconify {
  font-size: 32px;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grad {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px) skew(0deg);
  }
  62% {
    transform: translate(0) skew(5deg);
  }
}
@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px);
  }
  4%,
  60% {
    transform: translate(-2px);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
